<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>WrapperTags-Plugin</pluginName>
        <pluginDescription>Wrapping all the tags</pluginDescription>
        <pluginNiceName>WrapperTags</pluginNiceName>
        <pluginIcon>/plugins/WrapperTags/static/img/icon.png</pluginIcon>
        <pluginVersion>1.0.0</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp></pluginBuildTimestamp>
        <pluginClassName>WrapperTags_Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/WrapperTags/lib</path>
            <path>/WrapperTags/models</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>WrapperTags</namespace>
        </pluginNamespaces>
        <pluginDocumentEditmodeJsPaths>
            <path>/WrapperTags/static/js/pimcore/document/tags/areablockplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/areaplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/blockplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/checkboxplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/dateplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/hrefplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/imageplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/inputplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/linkplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/multihrefplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/multiselectplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/numericplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/pdfplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/selectplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/snippetplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/tableplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/textareaplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/videoplus.js</path>
            <path>/WrapperTags/static/js/pimcore/document/tags/wysiwygplus.js</path>
        </pluginDocumentEditmodeJsPaths>
    </plugin>
</zend-config>
